---
const title = "404";
const subtitle = "Pagina no encotrada";
---

<div class="error-container">
    <img src="#" alt="#" />
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <p>Lo sentimoa, la pagina que estas buscando no existe o ha sido movida</p>
    <a href="/" class="btn">Volver al inicio</a>
</div>

<style>
    :root {
        --glass-background: rgba(50, 32, 22, 0.85);
        --glass-blur: blur(17px) saturate(180%);
        --glass-border: rgba(239, 234, 210, 0.125);
        --glass-shadow: 0 10px 15px -3px rgba(88, 60, 43, 0.1);
        --white-color: rgb(248, 246, 238);
    }
    .error-container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        padding: 2rem;
        margin: 25% auto;
        align-items: center;
        justify-content: center;
        background: var(--glass-background);
        backdrop-filter: var(--glass-blur);
        -webkit-backdrop-filter: var(--glass-blur);
        box-shadow: var(--glass-shadow);
        border: var(--glass-border);
        border-radius: 30px;
    }
    h1,
    h2,
    p {
        color: var(--white-color);
    }
    h1 {
        font-size: 4rem;
        margin: 0;
    }
    h2 {
        font-size: 2rem;
        margin-top: 0;
    }
    p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    img {
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: #25d366;
        color: var(--white-color);
        padding: 0.75rem 1rem;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        transition: background-color 0.2s;

        &:hover {
            background-color: #1e40af;
        }
    }
    @media screen (max-width: 768px) {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
</style>
