---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
    <div class="background"></div>
		<NavBar />
		<div class="content" transition:animate="slide">
			<slot />
		</div>
    <Footer />
	</body>
</html>

<style is:global>
  :root {
    --glass-background: rgba(50, 32, 22, 0.50);
    --glass-blur: blur(17px) saturate(180%);
    --glass-border: rgba(239,234,210, 0.125);
    --glass-shadow: 0 10px 15px -3px rgba(88, 60, 43, 0.1);
    --white-color: rgb(248,246,238);
  }

  /*
  'dallas': {
    '50': '#f8f6ee' => rgb(248,246,238) => rgba(248,246,238,0.1),
    '100': '#efead2' => rgb(239,234,210) => rgba(239,234,210,0.125 ),
    '200': '#e0d4a8' => rgb(224,212,168) => rgba(224,212,168,0.77),
    '300': '#ceb976' => rgb(206,185,118) => rgba(206,185,118,0.77),
    '400': '#bf9f50' => rgb(191,159,80) => rgba(191,159,80,0.77),
    '500': '#af8c43' => rgb(175,140,67) => rgba(175,140,67,0.77),
    '600': '#977037' => rgb(151,112,55) => rgba(151,112,55,0.77),
    '700': '#74512d' => rgb(116,81,45) => rgba(116,81,45, 0.77),
    '800': '#66462d' => rgb(102,70,45) => rgba(102, 70, 45, 0.77),
    '900': '#583c2b' => rgb(88,60,43) => rgba(88, 60, 43, 0.77),
    '950': '#322016' => rgb(50,32,22) => rgba(50, 32, 22, 0.50)
  },
  */
  
  html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scrollbar-color: var(--white-color) var(--glass-shadow);
    scrollbar-width: auto;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; /* Color de respaldo */
    overflow-x: hidden; /* Evitar scroll horizontal */
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/fondo_carteras.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
  }

  .content {
    padding-top: 72px; /* Altura del navbar + espacio extra */
    flex: 1;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  @media (max-width: 768px) {
    body{
      background-attachment: scroll;
    }
  }
</style>
